<mat-card class="card-about">
    <mat-card-header>
        <mat-card-title>About The-Alchemist's Blog</mat-card-title>
        <mat-card-subtitle>Version 1.0.0</mat-card-subtitle>
    </mat-card-header>

     <mat-card-content>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam ipsa similique deleniti, voluptatem beatae totam odio. Porro praesentium ipsa neque nisi accusamus dicta, perferendis nemo, sit, voluptates assumenda aliquam deserunt? 


            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam ipsa similique deleniti, voluptatem beatae totam odio. Porro praesentium ipsa neque nisi accusamus dicta, perferendis nemo, sit, voluptates assumenda aliquam deserunt?
         </p>

         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam ipsa similique deleniti, voluptatem beatae totam odio. Porro praesentium ipsa neque nisi accusamus dicta, perferendis nemo, sit, voluptates assumenda aliquam deserunt?
        
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam ipsa similique deleniti, voluptatem beatae totam odio. Porro praesentium ipsa neque nisi accusamus dicta, perferendis nemo, sit, voluptates assumenda aliquam deserunt?
         </p>
     </mat-card-content>
</mat-card>